<!DOCTYPE html>
<html lang="en-us">

<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/postcntlr.controller.js"></script>
    <script src="js/topic.service.js"></script>
    <script src="js/env.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <meta http-equiv="Cache-control" content="no-cache">
</head>

<body ng-app="app">
    <div class="container" ng-controller="PostCntlr">
        <div clss="row">
            <h1 class="text-center">Digg / Reddit clone with upvote and downvotes</h1>

            <li class="list-group-item" ng-repeat="topic in topics track by topic.id">
                <!--track by topic.id-->
                <i class="glyphicon glyphicon-chevron-up" ng-click="upvoteTopic(topic.id,$index)"></i>
                <span class="label label-primary">{{ topic.voteCnt }}</span>
                <i class="glyphicon glyphicon-chevron-down" ng-click="downvoteTopic(topic.id,$index)"></i>
                <span>{{ topic.content }}</span>
            </li>
            <div class="col-md-12">
                <ul class="pager">
                    <li><a href="#" ng-show="currentPage-1>0" ng-click="getTopics(currentPage-1)">Previous</a></li>
                    <li><a href="#" ng-show="currentPage!=lastPage" ng-click="getTopics(currentPage+1)">Next</a></li>
                </ul>
                <form name="form" ng-submit="addTopic()" novalidate>
                    <div class="form-group">
                        <label for="post">Add Topic:</label>
                        <textarea class="form-control" rows="5" maxlength="255" ng-model="topic" name="topic" required=""></textarea>
                    </div>
                    <div ng-show="form.$submitted">
                        <span style="color:red" ng-show="form.topic.$error.required">* Please fill in the topic</span>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>
    <!-- index.html -->
    <div id="app">
        <div class="container-fluid">
            <ul class="list-group">
                <post v-for="post in posts" :post="post"></post>
            </ul>
        </div>
    </div>




</body>

</html>
